@font-face{
    font-family: retro;
    src:url(retro.ttf)
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: retro;
    font-size: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}

input {
    font-family: retro;
    background: transparent;
    color: white;
    outline: none;
    font-size: 1em;
    border: 0;
    width: 50%;
}

.lines{
    display: flex;
    flex-direction: column;
}

.dialogue span {
    display: block;
}

.dialogue button {
    font-family: retro;
    font-size: 1em;
    background: transparent;
    color: white;
    margin-left: 10px;
    height: 100%;
    width: 50px;
    border: 0;
}

span {
    margin-bottom: 15px;
}
.commandPrompt{
    display:inline;
}

